html {
    max-width: 100vw;
    max-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f9f9f9;
    align-items: center;
}

.header_logo {
    max-height: 40px;
    object-fit: contain;
}

.header > a {
    max-width: 20%;
}
